@import "../../common/variables";

.login-signup {
  background-color: #e5e5e5;
  height: 100vh;
  .tab-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #e0e0e0;
    .login-btn,
    .signup-btn {
      flex-basis: 50%;
      text-align: center;
      border-bottom: 2px solid transparent;
      padding-bottom: 1.5rem;
      &:hover {
        cursor: pointer;
      }
      &.active {
        color: $primary-pink;
        border-bottom: 2px solid $primary-pink;
      }
    }
  }
  .login,
  .signup {
    background-color: white;
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
    h2 {
      margin-bottom: 2rem;
    }
    .social-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
      button {
        width: 9rem;
        height: 2rem;
        text-transform: unset !important ;
        img {
          margin-right: 1rem;
        }
      }
    }
    .or {
      color: #828282;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  .login {
    form {
      .v-input__slot {
        border-radius: 0.5rem;
        background-color: #f2f2f2;
        fieldset {
          border: 0;
        }
      }
      .forgot-password {
        width: 100%;
        text-align: right;
        margin-bottom: 3rem;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .signup {
    .btn-signup {
      margin-top: 3rem;
    }
  }
}
